<!DOCTYPE HTML>

{% load static %}

<html>
	<head>
		<title>IACOLOMBIA.NET</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="{% static  'assets/css/main.css' %}" />
	</head>
	<body class="is-preload">

		<!-- Header -->
			<header id="header">
				<h1>IACOLOMBIA.NET</h1>
				<p> <b>... hola mundo ...</b> <br/>
        Somos la nueva generación de comunidades inteligentes. <br />
				Powered by <a href="https://www.python.org/">PYTHON</a>.</p>
			</header>

		<!-- Signup Form -->
			<!-- <form id="signup-form" method="post" action="#">
				<input type="email" name="email" id="email" placeholder="Email Address" />
				<input type="submit" value="Sign Up" />
			</form> -->

    <!-- Banner Section -->
    <section class="banner text-center bg-light py-5">
      <div class="container">

        <a href="https://chat.whatsapp.com/KZ2qPWPUklFBrPs1SCHnuw" class="btn btn-primary btn-lg">ENLACE A PYTHON ESSENTIALS</a>
      </div>
    </section>


		<!-- Footer -->
			<footer id="footer">
				<ul class="icons">
					<li><a href="#" class="icon brands fa-twitter"><span class="label">Twitter</span></a></li>
					<li><a href="#" class="icon brands fa-instagram"><span class="label">Instagram</span></a></li>
					<li><a href="#" class="icon brands fa-github"><span class="label">GitHub</span></a></li>
					<li><a href="#" class="icon fa-envelope"><span class="label">Email</span></a></li>
				</ul>
				<ul class="copyright">
					<li>&copy; 2023 IACOLOMBIANET. All rights reserved</li><li>Credits: <a href="https://www.linkedin.com/in/wilmer-andr%C3%A9s-escobar-naranjo-3973861a0/">Wilmer Escobar</a></li>
				</ul>
			</footer>

		<!-- Scripts -->
			<script src="{% static 'assets/js/main.js' %}"></script>

	</body>
</html>